<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :user_login %><br />
    <%= f.text_field :user_login %>
  </p>
  <p>
    <%= f.label :email_addresses %><br />
    <%= f.text_field :email_addresses %>
  </p>
  <p>
    <%= f.label :cost_center %><br />
    <%= f.text_field :cost_center %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>